@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #38534E;
	font-family: 'Roboto', sans-serif;
}

#contenedor {
	width: 90%;
	height: 700px;
	background-color: #bdc3c7;
	margin-left: auto;
	margin-right: auto;
}

header{
	width: 100%;
	height: 54px;
	background-color: #BDC1C0;
	padding-left: 1%;
}

#logo{
	width: 50px;
	height: 50px;
	float: left;
	
}

#titulo{
	float:left;
	position: relative;
	top: 20%;
	left: 2%;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 25pt;
	color: #272727;
}

#titulobody{
	padding-top: 1%;
	padding-left: 3%;
	font-size: 18pt;
}

#titulodeathto{
	padding-top: 2%;
	padding-left: 3%;
	font-size: 16pt;
	color: #E5EFF0; 
}


.inicio{
	text-decoration: none;
	color: #272727;
}

.micrositio{
	text-decoration: none;
	color: #38534E;
}

nav{
	width: 52%;
	height: 40px;
	background-color: #BDC1C0;
	float: right;
}

article{
	width: 100%;
	height: 636px;
	background-color: #7f8c8d;
}

#imgindex{
	background-image: url(../img/black-mirror.jpg);
	background-size: cover;
}

#imgdeathto{
	background-image: url(../img/deathto.jpg);
	background-size: cover;
}

#resumen{
	float: left;
	position: relative;
	top: 30%;
	left: 10%;
	padding: 15px;
	width: 230px;
	background-color: rgba(229,239,249,0.7);
}

.avatar{
	float: left;
	padding-left: 5%;
	padding-top: 5%;
	width: 150px;
}

.contenedorcritica{

	background-color: #f5f5f5;
	float: left;
	width: 24%;
	height: 550px;
	margin: 0.5%;
}
.contenedorcritica2{

	background-color: #e5eff0;
	float: right;
	width: 24%;
	height: 550px;
	margin: 0.5%;
}

.titulocritica{
	padding-left: 5%;
	padding-top: 1%;
	padding-bottom: 2%;
	background-color: #38534E;
	color: #E5EFF0;
}

.critica{
	padding-top: 1%;
	padding-left: 3%;
	padding-right: 1%;
}

.texto{
	padding-top: 1%;
	padding-left: 3%;
	padding-right: 3%;
	font-size: 11pt;
}

.columna1{
	float: left;
	padding-left: 3%;
	padding-right: 3%;
}

.columna2{
	float: right;
}

.galeria{
	padding-top: 1%;
}

.galeria li{
 	display: inline-block;
	padding-top: 1%;
	padding-right: 1%;
	padding-left: 1%;
 }

.galeria li a{
 	width: 200px;
 }

#personaje1{
	padding-top: 5%;
	padding-left: 2%;
	padding-right: 1%;
	width: 25%;
	float: left;
}

#dato1{
	padding-top: 5%;
	padding-left: 1%;
	padding-right: 1%;
	width: 25%;
	float: left;
	color: #272727;
}

#personaje2{
	padding-top: 5%;
	padding-left: 1%;
	padding-right: 1%;
	width: 25%;
	float: left;
}

#dato2{
	padding-top: 5%;
	padding-left: 1%;
	padding-right: 2%;
	width: 25%;
	float: right;
	color: #272727;
}

#contenedorseccion{
	width: 100%
	padding-right: 5%;
	padding-left: 5%;
	padding-top: 1%;
	font-size: 9pt;
	color: #272727;
}

#izquierda{
    float: left;
    width: 50%;
}

#derecha{
    float: right;
    width: 50%;
}

#contenido{
    line-height: 15px;
    padding: 0 10px;
    text-align: justify;
}

#concurso{
	float: left;
	position: relative;
	top: 34%;
	left: 15%;
	padding: 15px;
	width: 400px;
	font-size: 16pt;
	color: #272727;
}

#formulario{
	float: left;
	position: relative;
	top: 10%;
	left: 20%;
	padding: 15px;
	width: 300px;
	background-color: #BDC1C0;
}

p {
		text-align: justify;
		hyphens: auto;

}
 .etiqueta {
 	color: #272727;
 }

.enviar{
	width: 70%;
	height: 35px;
	border: none;
	color: #E5EFF0;
	background-color: #38534E; 
	font-size: 18px;
	margin: 4px 2px;
	float: right;
}

footer{
	width: 100%;
	height: 50px;
	padding-left: 10px;
	background-color: #e5eff0;
}

#menu{
	padding: 1%;
	float: right;
}

#menu li{
	display: inline-block;
	padding-top: 2%;
	width: 150px;
	background-color: #38534E;
	text-align: center;
	font-size: 14pt;
	padding: 5px;

}

#menu li a{
	
	text-decoration: none;
	color: #E5EFF0;
	
}

#logo2{
	float: left;
	width: 174px;
	height: 51px;
	
}

footer {
	padding-right: 1%;
}

#credito{
	position: relative;
	padding-top: 10px;
	left: 200px;
	float: left;
	width: 34%;
}

#redes{
	float: right;
}

 #redes li{
 	display: inline-block;
	padding-top: 5%;
 }

 #redes li a{
 	width: 30px;
 }

 .anchoredes{
 	width: 30px;
 }

.anchogaleria{
	width: 300px;
}

 .anchoform{
 	width: 100%
 }
